[2015-06-16 15:08] dazinator opened #1 "If this works, you are genius."
This isn't a legitimate "issue" - just a remark ;)

[2015-06-16 15:12] dazinator opened #2 "How about WinPhone?"
To complete the trio?

[2015-06-16 15:32] dazinator opened #3 "Error on Init()"
I'm getting an exception when calling Init()

![image](https://cloud.githubusercontent.com/assets/3176632/8186965/292a7420-1445-11e5-992e-1a07df851dbb.png)

I have included the tessdata folder and set the content type for all the files as per the instructions.
Any ideas?

[2015-06-16 21:07] halkar commented on #3
tessdata must be under Assets folder in Android project. Check out my sample project.

[2015-06-16 21:11] halkar commented on #2
I wasn't able to find how to build Tesseract for Windows Phone. And there is good OCR lib from Microsoft https://www.nuget.org/packages/Microsoft.Windows.Ocr/
So if you know how to build Tesseract for WP I can include it.

[2015-06-16 21:12] halkar commented on #1
It works as I know. But of course it have a number of issues.

[2015-06-16 21:12] #1 closed

[2015-06-16 23:36] dazinator commented on #3
Hmm yes.. I have done that. However your sample does work so must be something to do with my project. Cheers.

[2015-06-16 23:36] #3 closed

[2015-06-16 23:43] halkar commented on #3
If you could share your project I'd have a look.

[2015-06-18 15:52] dazinator opened #4 "Having an issue with Byte[] input."
So my big idea is to try and capture frames from camera preview, and do OCR on the fly!

However when I pass in the byte array for the current frame:
[code]
It essentially hangs and doesn't return.

Does this Byte array need to be encoded before I pass it in? Any ideas on why it might hang?

My code is doing this:

[code]

Any help or advice is much appreciated.

[2015-06-18 16:26] dazinator commented on #4
I've asked this on stackoverflow as well: http://stackoverflow.com/questions/30920675/camera-preview-and-ocr?noredirect=1#comment49878574_30920675

[2015-06-18 21:35] halkar commented on #4
There is an answer there. Being honest I didn't play much with byte array format as I use XLabs MediaService to get images from camera and it returns stream or file name. Will try using camera directly today.

[2015-06-19 12:34] dazinator commented on #4
So apparently the byte[] data coming from the camera preview is YuvImage format. So I am now doing this to convert it to JPEG:

[code]

Now interestingly, If i pass this new byte[] directly to SetImage() - it still hangs.
However, if i write the byte[] data as is, to a file on disk, and then call the SetImage() with the filepath overload - it runs ok. It gives me back gibberish text but guessing t

[2015-06-19 12:39] dazinator opened #5 "Continually calling Api.Text in a loop - eventually crashes."
My algorithm does this:

1. Initialises the API
2. Begins an endless loop with the body:
[code]

After a few seconds of execution, there is an exception tfrom within the  `_Api.Text` method. Do you have any existing test coverage for this scenario - i.e one that calls _API.Text many times on the same API instance?

[2015-06-19 12:42] dazinator commented on #2
Nah - no idea how to build it for windows phone! It's not that important really, so I'll close this - feel free to re-open if you really want to!

[2015-06-19 12:42] #2 closed

[2015-06-19 12:45] halkar commented on #4
Could you please give me an example of your image? I'll have a look. I'll check what's wrong with SetImage(byte[]).

[2015-06-19 12:45] halkar commented on #4
Thank you!

[2015-06-19 12:52] dazinator commented on #4
![mypic](https://cloud.githubusercontent.com/assets/3176632/8253729/5950b6f4-168a-11e5-9fb6-83f8e30b6556.jpg)

[2015-06-19 12:55] halkar commented on #4
Oh, this text is definitely not recognisable :)

[2015-06-19 12:55] dazinator commented on #4
haha yeah - definately not!

[2015-06-19 12:56] dazinator commented on #4
Did you get the image file ok?

[2015-06-19 12:56] halkar commented on #4
Yes.

[2015-06-19 12:56] dazinator commented on #4
Cool beans :)

[2015-06-19 12:58] halkar commented on #5
No, I haven't implemented any tests for the lib yet. Shame on me. So all my testing is pure manual. Could you please give more extended sample of your code as at the moment it work's fine for me.

[2015-06-19 13:07] dazinator commented on #5
Sure - here is the complete android activity I am running!

https://gist.github.com/dazinator/e0ee587676a6ff454e9b

[2015-06-19 13:08] dazinator commented on #5
- and I also just added the corresponding `axml` layout to that gist.

[2015-06-19 14:18] halkar commented on #5
I created sample for camera preview recognition https://github.com/halkar/Tesseract.Xamarin/tree/android-camera-preview-sample
I managed to work directly with byte array received from the camera without saving data to file.
The only problem is that I don't know how to work with camera preview. I'm a little bit lazy, so I decided not to use queue but just to skip images received while recognitions

[2015-06-19 14:34] dazinator commented on #5
Brilliant stuff! I'll take a look at that now! Thank you for looking into this so quickly!

[2015-06-21 10:52] halkar commented on #5
I've updated framework and the sample project. BTW, it's better to use `TesseractApi.Results (PageIteratorLevel.Block)` method instead of `TesseractApi.Text` to get more information about results.

[2015-06-30 11:36] #4 closed

[2015-06-30 11:36] #5 closed

[2015-06-30 21:39] halkar opened #6 "Implement Clear method"

[2015-06-30 21:42] halkar opened #7 "Use same measure units in Result.Box for Android and iOS"

[2015-06-30 21:44] halkar opened #8 "Do not override existing tessdata on TesseractApi.Init on Android"

[2015-07-07 20:35] mcvicar opened #9 "Add a license"
Can you add a license for the project?

[2015-07-08 00:09] halkar commented on #9
License is MIT and it can be found here https://github.com/halkar/Tesseract.Xamarin/blob/master/LICENSE

[2015-07-08 00:09] #9 closed

[2015-07-18 02:51] #6 closed

[2015-07-20 09:12] #8 closed

[2015-07-24 02:08] halkar opened #10 "Fix Visual Studio build"
It the moment you can't build iOS binding library in VS.

[2015-08-19 06:38] molinch opened #12 "SetWhitelist throws a NullReferenceException"
First all thanks for your amazing work... It's really impressive what you did.
With latest version from Nuget SetWhitelist throws a NullReferenceException.

Code sample:
<pre>
TesseractApi api = new TesseractApi();
api.SetWhitelist("ACDFMN123456789");
</pre>

[2015-08-19 06:46] molinch commented on #12
Don't worry I looked in the code and saw that Init() should be performed before calling other methods :)

[2015-08-19 07:59] molinch opened #13 "Add SetVariableValue in the ITesseract interface"
This would allow giving Tesseract hints about how it should work.

For example: don't use the dictionary if what you are scanning is not real words but maybe product references.

[2015-08-19 13:16] halkar commented on #13
Sure, will add method in the next release. Hope it will be sent to nuget this weekend.

[2015-08-19 13:17] halkar commented on #12
This is an issue actually. I should give more information about API actual state.

[2015-08-20 11:52] #12 closed

[2015-08-20 12:57] #13 closed

[2015-08-23 09:01] #7 closed

[2015-08-28 15:04] DiegoGLagash opened #14 "I'm using the sample code and it hangs"
When the SetImage method is called the operation never ends. The proress is not being updated. Is there an what is maximumRecognitionTime default? Do you know what might be happening?

[2015-08-28 21:38] halkar commented on #14
I believe progress doesn't work in the current version. I'm sorry, please don't use it.

[2015-08-29 21:44] halkar commented on #14
Apart from the progress does the application hangs? If yes, on which platform? Device/emulator?

[2015-08-31 12:40] DiegoGLagash commented on #14
iOS 8.4, on emulator. Is there any log/trace i can use to capture?

On Sat, Aug 29, 2015 at 6:44 PM, Artur Shamsutdinov <
notifications@github.com> wrote:

[2015-08-31 13:00] halkar commented on #14
Can you give me a sample you are working with?

[2015-09-02 11:13] halkar opened #16 "Progress is always fired with value of 0"

[2015-09-15 12:36] #10 closed

[2015-09-15 13:46] vdurif opened #17 "Init function with custom traineddata"
Hello,

I'm trying to use custom trained data for OCR-B with Xamarin.Tesseract. I build my own ocrb.traineddata following https://reachsri.wordpress.com/2014/01/28/process-to-train-tesseract-ocr-3/

I put this traineddata in the assets folder and then I call "tesseractApi.Init ("ocrb");" but initialization fail.
Have someone an idea about what happens ? I can share my trained data if required.

[2015-09-15 14:26] vdurif commented on #17
Ok sorry, I've a problem with assets folder in Xamarin Studio. My files are note populated to my app I don't know why. But it explains why init function did not work in my case.

[2015-09-15 20:31] halkar commented on #17
Just check if your tessdata folder is setup correctly.
For Android tessdata folder should sit under the Assets folder and all files should have Build action set to AndroidAsset. For iOS folder with files marked as BundleResource should be in the Resources folder.

[2015-09-16 07:23] vdurif commented on #17
Yes I've done that. I got it work with "eng" language last week but now when I add files to my assets folder it is not deployed to my phone. So I try to remove all files and add them again in Assets/tessdata and now i don't have any files in Assets deployed to my phone (not even the tessdata folder).

[2015-09-16 07:33] halkar commented on #17
Have you tried removing the app completely? I probably know about one issue that could cause problem like yours.

Sent from Outlook

On Wed, Sep 16, 2015 at 12:23 AM -0700, "vdurif" <notifications@github.com> wrote:

Yes I've done that. I got it work with "eng" language last week but now when I add files to my assets folder it is not deployed to my phone. So I try to remove all files and add them

[2015-09-16 07:41] vdurif commented on #17
You mean removing the app from my phone ?
I tried uninstall it, removing the "com.myapp" folder and reinstall it but I still got nothing in Assets folder.
I really don't know where it comes from.

[2015-09-16 07:46] halkar commented on #17
Which OS are you testing on?

[2015-09-16 07:46] vdurif commented on #17
Android 5.1.1 (on a Nexus 4 and Nexus 5)

[2015-09-16 07:47] halkar commented on #17
Can you share your logs?

[2015-09-16 07:49] vdurif commented on #17
Do you mean my build logs ?

[2015-09-16 07:50] halkar commented on #17
No, application logs (logcat).

[2015-09-16 07:53] vdurif commented on #17
[OpenCV] Trying to get library list
[OpenCV] Library list: ""
[OpenCV] First attempt to load libs
[OpenCV] Trying to init OpenCV libs
[OpenCV] Trying to load library opencv_java
[OpenCV] Library opencv_java loaded
[OpenCV] First attempt to load libs is OK
[OpenCV] General configuration for OpenCV 2.4.9 =====================================
[OpenCV]   Version control:               2.4.9
[OpenCV]

[2015-09-16 07:57] halkar commented on #17
Can you share your initailization code? Do you *await* TesseractApi.Init method?

[2015-09-16 08:09] vdurif commented on #17
No I did not. I still don't know much .NET but when I use await it asks me to put an async on my function and I can't on my constructor (I suppose i could use a Task.run() or something like this but I don't really looked at it for now).

I add it to an async function and used await: it works. I used an explorer on my phone and tessdata is now fully deployed on my phone. Does it comes from await ?

[2015-09-16 08:11] halkar commented on #17
If you could share your code I will be able to suggest something :)

[2015-09-16 08:12] vdurif commented on #17
What I change :
tesseractApi = new TesseractApi (Application.Context);
			bool success = await tesseractApi.Init ("ocrb");
			if (success) {
				Log.Debug (TAG, "Tesseract success init");
				tesseractApi.SetWhitelist ("0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ<");
				tesseractApi.SetVariable ("load_system_dawg", "F");
				tesseractApi.SetVariable ("load_freq_dawg", "F");
				tesseractApi.SetVariable

[2015-09-16 08:14] halkar commented on #17
Your code looks fine. I wonder why not all files are deployed. Try uninstalling the app and deploing it again ;)

[2015-09-16 08:15] vdurif commented on #17
I wil ltry deploying it on another phone. I'll edit with result.

[2015-09-16 08:16] halkar commented on #17
Thanks!

[2015-09-16 08:23] vdurif commented on #17
Ok I tried depolying it on a Nexus 5. I had to uninstall old app first if not it doesn't update my Assets folder but after that it works great.
I think of Xamarin Studio issue :).

[2015-09-16 08:24] halkar commented on #17
Cool!

[2015-09-16 08:24] #17 closed

[2015-09-16 20:54] marioaleogolsat opened #18 "Pre Processing Photo"
Hello,

I would like to know if there's any way to pre process the photo, by applying a grayscale filter and adjusting contrast, brightness, clip, saturation and other things like this.

Thanks.

[2015-09-16 20:58] halkar commented on #18
There is no preprocessing in this library. It's only about OCR process itself.

[2015-09-17 11:33] marioaleogolsat commented on #18
Is there any library for Xamarin.Forms that can play along with this OCR?
Or that can get the photo from XLabs, process it, and than pass it to the oCR?

Thanks for the help.

[2015-09-17 11:58] halkar commented on #18
Yes, you can use OpenCV but I can't recommend any particular implementation for Xamarin.

[2015-09-29 16:06] ThaRaven403 opened #19 "SetRectangle clearing all results and not returning any"
Hi,

I'm currently using the lastest version of Tesseract.Xamarin in a Xamarin Forms project, only targeting the Android platform at the moment.

When I call the SetRectangle method, after successfully calling the SetImage method (checked with a boolean value after calling the method with await), the Text property keeps the original text it had after setting the image, and the Results property ret

[2015-09-30 08:06] halkar commented on #19
Hi,

I will check this one. But have you tried to call SetRectangle first before calling SetImage?

Cheers,
Artur.

[2015-09-30 11:10] ThaRaven403 commented on #19
Hi,

Yes, I tried to call SetRectangle before the SetImage call, the end result is the same as if I wouldn't have called the method (same behavior as when you don't call SetRectangle).

Then I found this page, which gave an example and stated that it should be called after: https://code.google.com/p/tesseract-ocr/wiki/APIExample (it's in the last part of the first section).

Thanks for the quick f

[2015-09-30 11:59] halkar commented on #19
Hi,

I found an issue. Now it is fixed and you can download new version of the nuget package.

But still you should first call SetRectangle and then SetImage. This is a difference between the native implementation and this one.

Cheers,
Artur.

[2015-09-30 11:59] #19 closed

[2015-09-30 12:32] ThaRaven403 commented on #19
Thanks a lot for the super fast correction!

If I have to call the method before SetImage, do I have to call SetImage every time I set a rectangle (for example if I want to check for three specific regions in the image) ?

Also, I haven't found exactly what the unit of measure is for the rectangle, can you confirm it is pixels ?

Thanks again!

[2015-09-30 12:58] halkar commented on #19
1. Yes, you should call SetRectangle/SetImage every time when you change the region.
2. Yes, it's measured in pixels.

[2015-10-21 15:14] vdurif opened #20 "Application crash on IOS9"
Hi,

I'm currently building an OCR app and I use Xamarin.Tesseract for IOS. When  I use my camera preview screen and send data to tesseract using Recognize function the application just shut down 20 seconds later. In logs there's memory warnings, any idea about where it can come from ?

Here is a code sample from the part that might be "bugging":
class DataOutputDelegate : AVCaptureVideoDataOutput

[2015-10-22 20:10] halkar commented on #20
Hi,

Will have a look today.

Artur.

2015-10-22 2:14 GMT+11:00 vdurif <notifications@github.com>:

--
С уважением,
Шамсутдинов Артур.

[2015-10-29 10:21] halkar commented on #20
Sorry, had no chance to have a look this week. Will try to check it out tomorrow.

[2015-10-29 10:22] vdurif commented on #20
Hello Artur,

No problem, thanks a lot for checking it :D.

*Vincent DURIF*
Étude et développement

Systèmes d'Information Critiques

Cité Internationale, 44 Quai Charles de Gaulle, 69006 Lyon
www.thalesgroup.com

2015-10-29 11:21 GMT+01:00 Artur Shamsutdinov <notifications@github.com>:

[2015-11-02 05:16] halkar commented on #20
Hey Vincent,

I'm still investigating the problem. Looks like there is a memory leak but I haven't find it yet.

Artur.

[2015-11-02 10:31] edegut opened #21 "Problem on Galaxy S6 Edge"
Hi,

I've got a crash when I initialise my TesseractAPI :
 dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.myapp/base.apk"],nativeLibraryDirectories=[/data/app/com.myapp/lib/arm64, /vendor/lib64, /system/lib64]]] couldn't find "libpngt.so"

Any idea?

[2015-11-02 10:40] halkar commented on #21
Which version do you use? It should be fixed in one of the lady ones.

Sent from Outlook

On Mon, Nov 2, 2015 at 2:31 AM -0800, "edegut" <notifications@github.com> wrote:

Hi,

I've got a crash when I initialise my TesseractAPI :

 dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.myapp/base.apk"],nativeLibraryDirectories=[/data/app/com.myapp/lib/arm64, /vendor/lib64, /system/lib6

[2015-11-02 10:50] edegut commented on #21
I use version 0.2.9

[2015-11-02 20:36] halkar commented on #21
Which Android version are you running?

[2015-11-03 10:51] edegut commented on #21
Excuse me, there was no problem in fact. I made a mistake in my project
configuration.

2015-11-02 21:36 GMT+01:00 Artur Shamsutdinov <notifications@github.com>:

[2015-11-03 11:03] halkar commented on #21
No worries. Could you please give some details on that mistake?

[2015-11-03 22:15] #21 closed

[2015-11-03 22:16] #18 closed

[2015-11-03 22:16] #14 closed

[2015-11-04 15:51] vdurif commented on #20
Hi Artur !

Thanks a lot for looking at it ! :D

Vincent.

[2015-11-07 10:17] halkar commented on #20
Issue should be fixed by now. Check out the last version 0.2.10.

[2015-11-07 10:17] #20 closed

[2015-11-10 14:14] sabrinaj commented on #21
Hello,

I currently have the same problem, would it be possible to have some details ?

Thanks !

[2015-11-18 12:20] halkar commented on #21
@sabrinaj I managed to reproduce this issue only once and only in Visual Studio. Looks like it can be caused by the build configuration. After disabling/enabling fast deployment and shared runtime options problem has gone.

[2015-11-18 12:24] halkar commented on #21
@sabrinaj also please check which architectures you are targeting.

[2015-11-19 00:41] jonathanzuniga commented on #19
Hi, is it possible to set visible the rectangle? how? Thanks in advance.

[2015-11-19 00:45] halkar commented on #19
@jonathanzuniga sorry, didn't get your question. What do you mean?

[2015-11-19 00:53] jonathanzuniga commented on #19
I would like to know how I can make the rectangle visible when i will take the photo.

[2015-11-19 00:55] halkar commented on #19
@jonathanzuniga Tesseract.Xamarin is only responsible for text recognising. Taking photo and UI is on you.

[2015-11-19 01:12] jonathanzuniga commented on #19
@halkar Oh ok thank you.

[2015-11-23 10:05] halkar commented on #21
@sabrinaj I managed to reproduce this issue but after updating my dev environment to VS2015 and last version of Xamarin 4 I can't reproduce this issue anymore.

[2015-12-02 08:48] gwyohm opened #22 "Rectangle.Box coords are invalid"
It seems that GetBoundingBox on a Result (from TessBaseApi) returns box coords as left, top, right, bottom whereas when creating the Rectangle, coords are used as left, top, width, height...

[2015-12-07 09:29] halkar commented on #22
@gwyohm thanks! Fixed.

[2015-12-07 09:29] #22 closed

[2015-12-08 09:32] gwyohm opened #23 "Android: Bitmap sampled"
When using SetImage, the bitmap is in SampleSize (value 4) when using byte[] or path to image, but not on Stream.
Could you consider making this sample size an option (even if default value is 4) and give the opportunity to get the sample size (when we retrieve coords, we want to know how to transform them to get back coords to our original image)

[2015-12-10 11:45] halkar commented on #23
Fixed.

[2015-12-10 11:45] #23 closed

[2015-12-22 17:14] joaodealmeida opened #24 "Could not find Tesseract.iOS"
Hello, i've installed your Nuget Package in my solution. I could now find Tesseract.iOS so I can register the type TesseractAPI( which it doesn't recognise) in the container builder.
![screen shot 2015-12-22 at 17 13 45](https://cloud.githubusercontent.com/assets/5623455/11961275/6fededbe-a8cf-11e5-8570-f04dc7f46c28.png)

[2015-12-22 19:53] halkar commented on #24
Which package version do you use?
Which version of Xamarin Studio?

[2015-12-22 20:41] joaodealmeida commented on #24
Xamarin Studio: 5.10.1 (build 6)
Package : 0.2.12

[2015-12-23 01:39] halkar commented on #24
Weird. So you created new cross-platform Xamarin.Forms app, right? Installed a nuget package and iOS dll is not added? Can you take a screenshot of your project references?
<img width="273" alt="screen shot 2015-12-23 at 12 39 00" src="https://cloud.githubusercontent.com/assets/1992396/11969734/2e7fe50a-a972-11e5-9556-ff38734dfaa9.png">

[2015-12-23 02:02] joaodealmeida commented on #24
It didn't add any Tesseract iOs related.

![screen shot 2015-12-23 at 02 01 22](https://cloud.githubusercontent.com/assets/5623455/11969889/2cc51bbc-a919-11e5-9122-30087cf4e817.png)

[2015-12-23 02:09] joaodealmeida commented on #24
Although in Android project I've got the Tesseract.Droid and Tesseract.Binding.Droid ...

[2015-12-23 02:19] halkar commented on #24
I see the problem now. Your iOS app is classic and not universal one. Why do you use it? Tesseract.Xamarin only supports universal iOS apps.

Sent from Outlook Mobile

On Tue, Dec 22, 2015 at 6:09 PM -0800, "João Almeida" <notifications@github.com> wrote:

Although in Android project I've got the Tesseract.Droid and Tesseract.Binding.Droid ...

—
Reply to this email directly or view it on GitHub.

[2015-12-23 03:49] joaodealmeida commented on #24
I've just updated to unified API. Now its properly loading the references!

Thanks

[2015-12-23 03:49] #24 closed

[2015-12-23 11:39] #16 closed

[2016-01-10 02:38] Nyankoo opened #25 "Couldn't find "libpngt.so" on real Device"
I'm trying to check a bitmap with the following code:

TesseractApi tessApi = new TesseractApi(context, AssetsDeployment.OncePerVersion);
await tessApi.Init("jpn");
await tessApi.SetImage(bitmapData);

and everything is working fine on an emulator, but after I tried to test it on a Samsung Galaxy S6 I got the following error:

    dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/proj

[2016-01-10 08:26] halkar commented on #25
@Nyakoo which version of library do you use and which Android version S6 is running?

[2016-01-10 13:34] Nyakoo commented on #25
@halkar 0.3.0 from nuget and my S6 runs on 5.1.1

[2016-01-12 07:37] halkar commented on #25
@Nyankoo silly idea but could you update your Xamarin environment to the latest version (5.10.1 on my machine)?

[2016-01-12 13:55] Nyankoo commented on #25
@halkar Xamarin Studio is already at version 5.10.1. Are you able to reproduce the exception?

[2016-01-13 08:08] halkar commented on #25
@Nyankoo no :(

[2016-01-13 12:03] joelbrito commented on #25
Same happens with Huawei P8 Lite, with arm64 cpu. There is no native lib for this cpu architecture, so that should be the cause of the error.

[2016-01-13 14:19] Nyankoo commented on #25
@halkar The S6 has arm64 cpu too, so maybe you need to look into this.

[2016-01-13 19:41] halkar commented on #25
@joelbrito @Nyankoo thanks, will check today.

[2016-01-14 08:45] halkar commented on #25
@joelbrito @Nyankoo could you please version attached?
[Xamarin.Tesseract.0.3.0.nupkg.zip](https://github.com/halkar/Tesseract.Xamarin/files/90091/Xamarin.Tesseract.0.3.0.nupkg.zip)

[2016-01-14 08:49] halkar commented on #25
@Nyankoo @joelbrito could you please try this version? [Xamarin.Tesseract.0.3.1.nupkg.zip](https://github.com/halkar/Tesseract.Xamarin/files/90097/Xamarin.Tesseract.0.3.1.nupkg.zip)

[2016-01-14 09:54] Nyankoo commented on #25
@halkar I tried it with my S6 and everything is working now. Thank you for the good and fast solution! Hope it works for @joelbrito too.
Can I asked how you solved it?

[2016-01-14 10:21] joelbrito commented on #25
@halkar It works on P8 Lite too. Thanks.

[2016-01-14 11:10] halkar commented on #25
@Nyankoo answer is - I'm an idiot. I was trying to reduce size of the library and excluded native libs for some platforms. Sorry guys!

[2016-01-14 11:10] #25 closed

[2016-02-23 07:32] APistole opened #26 "Not working"
Even using your test projects, only garbage is returned.  Not only that, it takes well over 5 minutes, at least, to process an image. Only when taking an image directly from the camera or an image that was taken from the camera and loaded from the library. However, images downloaded from the web are read in just fine. Would this be a problem with the camera?

[2016-02-23 08:18] halkar commented on #26
Can you share the image?

[2016-02-23 08:22] halkar commented on #26
It's almost impossible to recognise image received from phone camera without preprocessing (like contrast, b/w, noise removing etc). Image preprocessing is not this lib's job so you will need to use something like OpenCV.

[2016-02-23 21:32] #26 closed

[2016-04-17 21:10] pandrija opened #27 "Tesseract.Droid.TesseractApi.Init hangs"
Started from Xamarin default Android app template, just added the tessdata files for English and called Init method, but execution hangs on Init method....

[code]

![image](https://cloud.githubusercontent.com/assets/643004/14590007/4775c096-04f0-11e6-9a57-6a6bb8b50eec.png)

Here's the debugger output (last part):
[TesseractApi] Copy assets to /storage/emulated/0/Android/data/com.companyname.label

[2016-04-19 17:10] reinhardsual opened #28 "0.3.1 breaks, have to go back to 2.1.0"
Tried to update from 2.1.0 to 0.3.1, the application crash with unhandled exception.
Using the latest Xamarin forms and Xlabs.
Have to goback to 2.1.0.

Cheers,
Reinhard Sua

[2016-05-04 11:24] halkar commented on #27
@pandrija thanks, will have a look.

[2016-05-04 11:24] halkar commented on #28
@reinhardsual hm, weird, will check. Is that on Android or iOS?

[2016-05-04 16:54] reinhardsual commented on #28
Android 5.1

[2016-05-08 04:13] halkar commented on #27
@pandrija do you use real device or emulator? Which version of Android do you use?

[2016-05-08 04:19] halkar commented on #27
Don't use .Result. Instead use async/await
`using Android.App;
using Android.Widget;
using Android.OS;

namespace tesseract.test
{
    [Activity (Label = "tesseract.test", MainLauncher = true, Icon = "@mipmap/icon")]
    public class MainActivity : Activity
    {
        int count = 1;
        Tesseract.Droid.TesseractApi ocrApi;

        protected override async void OnCreate (Bundle savedInstanc

[2016-05-08 04:19] #27 closed

[2016-05-08 05:03] halkar commented on #28
@reinhardsual could you please post your exception's stacktrace here?

[2016-05-10 20:29] reinhardsual commented on #28
Ok. Will try again
On May 7, 2016 10:03 PM, "Artur Shamsutdinov" <notifications@github.com>
wrote:

[2016-05-10 21:02] reinhardsual commented on #28
This is the Message I got.
When I tried version 0.2.11 it works okay.
Hope this helps.

[image: Inline image 1]

On Tue, May 10, 2016 at 1:29 PM, Reinhard Sual <reinhardsual@gmail.com>
wrote:

[2016-05-10 22:00] reinhardsual commented on #28
Sorry I should say 0.2.10.
0.2.11 - 0.3.1 generate that Exception.

On Tue, May 10, 2016 at 2:02 PM, Reinhard Sual <reinhardsual@gmail.com>
wrote:

[2016-05-11 22:38] halkar commented on #28
@reinhardsual image is missing. I can't see the exception.

[2016-05-11 23:53] reinhardsual commented on #28
It is an Unhandled Exception (On Android 5.1.1):

Java.Lang.OutOfMemoryError:Failed to allocate a 63489036 byte allocation with 16777216 free bytes and 47MB until OOM

I tried on Android Marshmallow, it does not generate exception, BUT _tesseractApi.SetImage(imageBytes) always return False.

Back to 0.2.10 the same exact code just work fine.

[2016-05-12 11:32] halkar commented on #28
@reinhardsual thanks!

[2016-05-19 21:13] pandrija commented on #27
Thx - works great!

[2016-06-05 09:08] ddurgaprasad opened #29 "AssemblyVersionInfo.cs is missing"
Perhaps AssemblyVersionInfo.cs is missing from the repository.Could you please rectify.I getting below errors

_Severity	Code	Description	Project	File	Line	Suppression State
Error		Source file 'C:\tesseract-master\src\Tesseract.Tests.Console\..\AssemblyVersionInfo.cs' could not be found.	Tesseract.Tests.Console	C:\tesseract-master\src\Tesseract.Tests.Console\CSC
Error		Source file 'C:\tesseract-ma

[2016-06-06 04:15] ddurgaprasad commented on #29
I think I got it resolved from the suggestion provided at [](https://github.com/charlesw/tesseract/issues/100)

**_"You'll need to run the build.bat script first."_**

[2016-06-07 12:41] halkar commented on #29
Are you sure we are talking about my repo? There is no Tesseract.Tests.Console folder in this project.

[2016-06-07 12:41] #29 closed

[2016-07-20 10:13] hyderlyger opened #30 "0.3.1 not initializing ITesseractApi"
api.Init("eng") is returning false even though i have added lang files in assets. (Droid)

[2016-07-21 03:53] halkar commented on #30
@hyderlyger can you share the project?

[2016-07-21 09:25] rakesh79mca commented on #30
TesseractApi _api = new TesseractApi (this, AssetsDeployment.OncePerInitialization);
 _api.Init ("eng");

when i debugging code and check _api intialized value it is returning false

[2016-07-21 09:42] hyderlyger commented on #30
I turned out to be using wrong language files i.e version 3.** , it worked fine with version 2.** files. Thanks for your reply though.

[2016-07-21 09:48] rakesh79mca opened #31 "TesseractApi not initialized"
TesseractApi _api = new TesseractApi (this, AssetsDeployment.OncePerInitialization);
_api.Init ("eng");

when i debugging code and check _api intialized value it is returning false

[2016-07-21 10:02] rakesh79mca commented on #30
@hyderlyger can you send me version 2.** files so i can check this issue

[2016-07-21 10:12] hyderlyger commented on #31
try these files
[tessdata.zip](https://github.com/halkar/Tesseract.Xamarin/files/375666/tessdata.zip)

[2016-07-21 10:54] halkar commented on #30
@rakesh79mca you do not await the Init method. Hence it's not initialised.

[2016-07-21 10:55] halkar commented on #30
@hyderlyger thanks, I will check that!

[2016-07-21 11:35] halkar commented on #31
@rakesh79mca you do not await the Init method.

[2016-07-21 11:35] #31 closed

[2016-07-21 13:20] rakesh79mca commented on #30
@halkar  my code is

 [Activity (Label = "ReceiptScanner", Icon = "@drawable/icon", MainLauncher = true, ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
    public class TextureViewActivity : Activity, ISurfaceHolderCallback, Android.Hardware.Camera.IPreviewCallback
    {
        private bool syncObj = false;
        Android.Hardware.Camera camera;
        TesseractAp

[2016-07-22 10:39] rakesh79mca commented on #30
@hyderlyger  can you help me on this it is urgent for me

Please let me know where i am wrong?
I have added await the init method.

 [Activity (Label = "ReceiptScanner", Icon = "@drawable/icon", MainLauncher = true, ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
    public class TextureViewActivity : Activity, ISurfaceHolderCallback, Android.Hardware.Camera.IPreviewC

[2016-07-27 18:35] Nyankoo opened #32 "Possible to use with .NET 2.0?"
@halkar
Is it possible to use this with .NET 2.0 instead of 4.5?

[2016-07-28 10:09] halkar commented on #32
@Nyankoo this package is for Xamarin only. So you can't use it with .Net 2.0

[2016-07-28 10:09] #32 closed

[2016-07-31 04:07] chrisdavetv opened #33 "No TesseractApi.MaximumRecognitionTime?"
Anyone know how to implement this? its available in the gali8 Objective-C implementation but can't seem to find it in this API. Thanks!

[2016-07-31 12:05] halkar commented on #30
@rakesh79mca what result do you get from await _api.Init("eng")?

[2016-07-31 12:11] halkar commented on #33
@chrisdavetv property is available in the API but not made public.

[2016-08-01 12:17] halkar commented on #33
Updated version.

[2016-08-01 12:17] #33 closed

[2016-08-01 12:38] halkar commented on #28
@reinhardsual are you using latest version of tessdata from https://github.com/tesseract-ocr/tessdata ?

[2016-08-22 12:02] bnikollov opened #34 "Tesseract does not reference well in the PCL project."
I have some troubles with Xamarin.Tesseract in Xamarin.Forms. I think it's not referenced well in the PCL project.
There are the references in my PCL project: [https://s10.postimg.org/gv93ztqrt/tesserr.png](url)
This is the exception I get: [https://s3.postimg.org/awvrxj143/tesserr.png](url)

[2016-08-22 22:50] halkar commented on #34
@bnikollov can you share your project source code?

[2016-08-23 06:31] bnikollov commented on #34
Hi, @halkar I am sorry this was not a Tesseract exception, it was from the xam.plugin.media. But I try to run this project (your sample Tesseract.Nuget.Test) and it throws another exception when I press the button load image. [http://imgur.com/a/f7p62](url)

[2016-08-23 08:48] halkar commented on #34
@bnikollov no worries.

Can you give me a stack trace for the new issue?

[2016-08-25 10:45] bnikollov commented on #34
@halkar I handled this exception too. Now the project runs on iOS simulator, but on Android when resolving the tesseract api throws an exception
"Autofac.Core.DependencyResolutionException: An error occurred during the activation of a particular registration. See the inner exception for details. Registration: Activator = TesseractApi (ReflectionActivator), Services = [Tesseract.ITesseractApi], Lif

[2016-08-25 11:50] halkar commented on #34
What do you use for DI? It should be instance of Context and AssetsDeployment parameter.

[2016-08-25 11:55] bnikollov commented on #34
I use Autofac for now. Which you have used in the project. This is just for testing Tesseract. Later I will put this in other project where the DI is with Unity. In your sample project you do not pass any parameters nether for iOS nor for Android. Can you show me how to pass them in the right way?

[2016-08-26 03:49] halkar commented on #34
In Autofac initialisation should be something like this:
[code]

[2016-08-29 11:54] bnikollov commented on #34
Thanks, that worked and thank you for your time @halkar !

[2016-08-29 23:21] #34 closed

[2016-11-02 03:11] #30 closed

[2016-11-02 03:11] #28 closed

[2016-11-11 16:28] callyaser commented on #19
@halkar So The rectangle won't be visible on the camera or the image? I called the SetRectangle method but still I don't see any rectangle overlay on the image. So how do I restrict the focus of the camera to the region within the rectangle. Please assist

[2016-11-14 00:20] halkar commented on #19
@callyaser SetRectangle is used to define the rectangle in which text will be recognised not for visualisation. This library doesn't work with camera, it only works with images.

[2016-11-14 15:43] callyaser commented on #19
Oh. Got it. Thanks for the response.

[2017-02-03 10:21] Prajakta6 opened #35 "Not getting correct data string in Xamarin.iOS and Xamarin.Android"
I have used Tesseract OCR for scanning the receipts and fetching the data from the receipts. But the output string I get is not even in readable format.

![img_0885](https://cloud.githubusercontent.com/assets/14888096/22587592/4a607120-ea28-11e6-8083-e7ec88e7b879.JPG)

Following is the output string I get:

4
a
£355 5
S" 1
? k ,
4?,“ ,
n5, _ g  '
.~ :' «
I, .
.

Need help to get correct data forma

[2017-02-03 12:19] halkar commented on #35
You need to prepare the image first. It should be much more contrast.

[2017-02-05 09:26] #35 closed

[2017-03-06 14:44] YordanYanakiev opened #36 "using in PCL project"
Hello.
I need to use it in PCL based project ( Android specifically ( iOS is not needed atm ) ) ( Forms is not a viable option atm ), but I cant even add it to using clause by some reason unknown disregarding i've installed it.
Is it working in PCL projects at all, and if it does - please post a small sample and description how to make it works.

[2017-03-06 21:36] halkar commented on #36
No, this project has portable interface but to make it work you need to initialise it in a platform-specific project.

[2017-03-13 18:41] Prince-01 opened #37 "Application gets stuck after _api.SetImage(...) function invokation"
Hello,
I am writing an app for android, in which I want to make simple character recognition. Xamarin.Tesseract nuget gets initialized, and then when _api.SetImage(...).Wait(); invoked, my app gets stuck and can't go farther. I tried to invoke that function with different parameters, Firstly copied bitmap content to a stream on some ways and then pass it(both as a stream and byte array). I tried a

[2017-03-13 19:01] Prince-01 commented on #37
This is my code I wrote while ago and attached it into code downloaded from repository on github. It goes smoothly until tsk.Wait():.
`TesseractApi tapi;
        protected override void OnCreate(Bundle bundle)
        {
            base.OnCreate(bundle);

            // Set our view from the "main" layout resource
            SetContentView (Resource.Layout.Main);

            tapi = new Tesseract

[2017-03-13 19:10] Prince-01 commented on #37
I replaced Wait method with ContinueWith - and it seems to fix the problem. Sorry to bother you :)

[2017-03-13 19:10] #37 closed

[2017-04-03 13:16] halkar opened #38 "Update iOS and Android libs to the latest version"

[2017-05-14 21:09] JimSEOW opened #39 "UWP Xamarin Form sample"
Can this platform be supported?

[2017-05-15 00:28] halkar commented on #39
@JimSEOW UWP is not supported. If there is an implementation of Tesseract for UWP I could incorporate it but I can't find any.

[2017-08-08 04:25] #39 closed

[2017-11-10 02:33] band888888 opened #41 "Build and run the project Tesseract.Nuget.Test pop below error. Any idea?"
Autofac.Core.DependencyResolutionException: An exception was thrown while invoking the constructor 'Void .ctor(Context)' on type 'TesseractApi'. ---> dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.tesseract.nuget.test-1/base.apk"],nativeLibraryDirectories=[/data/app/com.tesseract.nuget.test-1/lib/arm64, /system/fake-libs64, /data/app/com.tesseract.nuget.test-1/base.apk!/lib/arm

[2017-11-18 08:35] halkar commented on #41
@band888888 can you try https://github.com/halkar/Tesseract.Xamarin/tree/feature/updating-native-version ?

[2017-11-19 01:42] #38 closed

[2017-11-19 01:42] halkar commented on #41
Merged to `master`. Try latest version.

[2017-11-19 01:42] #41 closed

[2017-12-03 03:30] nguyenthanhliemfc opened #43 "What is Resolver?"
What is Resolver?

[2017-12-06 19:11] halkar commented on #43
IoC container used to initialise Tesseract correctly depending on the platform.

[2017-12-06 19:11] #43 closed

[2018-01-11 15:59] TheHippiez opened #44 "HOCR support"
Hello,

At this point this project does not support the HOCR function. ( on Android ). Tess Two has implemented this somewhere in the past, is it possible that the package could receive an update?

Luke

[2018-01-13 06:30] #36 closed

[2018-01-13 06:32] halkar commented on #44
If something is implemented in tess-two I can make it work in my project as well but as I'm extremely busy right now I can't tell you when I will be able to add this feature (it will take one or two weeks).

[2018-01-15 12:03] TheHippiez commented on #44
Thanks for your response! I'm not sure if I'll be able to fix this issue myself, but if you have no time to do it I will have a look into it. ( I have a C++ background, all this java like stuff is pretty new for me )

[2018-01-22 08:49] ysmoradi commented on #39
https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/OCR

UWP has built-in support for OCR. Shall we implement Tesserect's interface contract as like as what is done on android/iOS using UWP OCR Engine?

[2018-01-22 11:24] halkar commented on #44
Fixed in 0.3.4

[2018-01-22 11:24] #44 closed

[2018-03-12 01:31] nguyenthanhliemfc opened #46 "How to use in Xamarin.Forms include UWP?"
How to use in Xamarin.Forms include UWP?

[2018-03-12 01:33] halkar commented on #46
Same way as on any other platform.

[2018-03-12 01:33] halkar commented on #46
Tesseract doesn't support UWP

[2018-03-12 01:40] nguyenthanhliemfc commented on #46
Thank you! Do you know any libraries OCR in Xamarin.forms support UWP?

[2018-03-12 01:44] halkar commented on #46
I don't know what specific features you need for Xamarin.Forms but for UWP you will find a pretty good OCR engine https://docs.microsoft.com/en-us/uwp/api/windows.media.ocr.ocrengine

[2018-03-12 01:44] #46 closed

[2018-04-25 05:12] bordline23 opened #47 "Net Standard?"
Can we have net standard version?

[2018-05-09 14:59] darkdoctor opened #48 "Android too Slow OCR"
Hi.

I have successfully implemented the OCR on Android Xamarin.

I have to wait 78 Seconds only to get the result for this image ( https://i.imgur.com/ZYjUEQz.jpg ) and I do not think this is fine.

The result is fine but the time processing is soo long.

Any suggestion or advice would be much appreciated.

[2018-05-10 21:26] halkar commented on #48
https://github.com/tesseract-ocr/tesseract

[2018-05-10 21:26] #48 closed

[2018-05-15 13:35] darkdoctor opened #49 "Progress not being called"
Greetings Halkar.

I really like your wrapper.

I am trying to use Progress Event, but it never gets called.

Can you help me?

[2018-05-22 07:53] jameslavery commented on #47
+1 - we need to use Tesseract in our project which is net standard.

[2018-06-04 08:38] lilleydnSub opened #50 "Tesseract iOS Still working ?"
Does these Tesseract bindings  / nugget still work on iOS or am I doing something wrong ?

I am finding it hangs forever on trying to process an image.
I have tried using different TessDatas but never had any success.

I am attaching self contained test
[Tess.zip](https://github.com/halkar/Tesseract.Xamarin/files/2067427/Tess.zip)

Any pointers would be gratefully recieved

[2018-06-04 09:18] lilleydnSub commented on #50
Task Problems on my side.

Ah..
                    await api.SetImage(sFilePath);
Works
        Task<bool> aTask = api.SetImage(sFilePath);
aTask.Wait().
Fails.

[2018-06-04 09:18] #50 closed

[2018-06-18 13:49] gustaveracosta opened #51 "Language issue"

[2018-06-18 14:01] #51 closed

[2018-09-27 17:35] KevinAble opened #53 "Tesseract 4.0???"
Is there any plans to upgrade this package to Tesseract 4.0?

Good job on the package it works great for me.

[2018-10-01 10:19] halkar commented on #53
Support for Tesseract 4.0 will be added once both Android and iOS support it.

[2018-10-11 11:56] c-lamont opened #54 "iOS crash on Init()"
I am having trouble with `await _tesseractApi.Init(“eng”);`

I have tried everything but this silently kills the app.

In the Application output there is only one line that may reference the issue: `actual_tessdata_num_entries_ <= TESSDATA_NUM_ENTRIES:Error:Assert failed:in file tessdatamanager.cpp, line 53`

The file is definitely added: `<BundleResource Include="Resources\tessdata\eng.traineddat

[2018-10-11 12:19] c-lamont commented on #54
So I think the blog post link to download the files might have changed, or there needs to be more explanation on what files you need to download. I downloaded just the `eng.traineddata` file but turns out you need all of these: https://github.com/halkar/Tesseract.Xamarin/tree/master/Tesseract.Forms.Test/tessdata

[2018-11-10 03:53] halkar commented on #54
Yes, you need all `eng.*` files.

[2018-11-10 03:53] #54 closed, assigned to nobody

[2019-03-06 13:09] malikirfan opened #55 "Init is returning false."
Hi @halkar ,
I am using it in Xamarin Forms application using DependencySevice.  In Android, I have added language files in tessdata  under Asset but Init is always returning false. I tried language files from your source (https://github.com/halkar/Tesseract.Xamarin/tree/master/Tesseract.Forms.Test/tessdata) and also tried file from (https://github.com/tesseract-ocr/tessdata/blob/master/eng.traine

[2019-03-09 08:03] halkar commented on #55
Can you share the project?

[2019-03-09 08:49] malikirfan commented on #55
Hi @halkar ,
Please find complete VS 2017 solution [https://drive.google.com/open?id=1uUaSm_ciiK4g8IRobMd_Q9FRzJZ0MLPO](https://drive.google.com/open?id=1uUaSm_ciiK4g8IRobMd_Q9FRzJZ0MLPO).
Thank you.

[2019-03-11 13:02] malikirfan commented on #55
Hi @halkar ,
Any update please.

Thanks

[2019-03-16 11:47] malikirfan commented on #55
Hi @halkar , Is it because ".Net Standard" type not supported?

[2019-04-05 15:24] ghost opened #56 "Xamarin.Mac?"
Any chances for Xamarin.Mac support? While I have succeeded in directly referencing .dll files from some packages that don't declare Xamarin.Mac support to make them work, as this package uses iOS Objective C library behind I guess it can't work on the Mac right now?

[2019-05-14 13:21] FloRup commented on #55
I also have this problem. My setup is pretty much the same.

[2019-07-31 12:11] Surajvbinorkar commented on #55
cool its working fine, but response time is too much, and its giving most of the gar-beg text, do you have solution on this? please let me know

[2019-07-31 12:13] Surajvbinorkar opened #57 "Take too much time to respond and return most of the gar-beg data"
cool its working fine, but response time is too much, and its giving most of the gar-beg text, do you have solution on this? please let me know

[2019-07-31 23:03] halkar commented on #57
Can you give me a sample image?

[2019-11-23 18:12] hejtmii commented on #53
Hi, any progress on this? Is it now waiting for iOS or Android? The latest for iOS based on Gali8 (with tess 4.1.0) can is here if you need it: https://github.com/kenticomartinh/Tesseract-OCR-iOS

[2020-03-29 08:14] Kunal-git commented on #53
Any updates on Tesseract 4.0 support?
I need libtess.so file for Tesseract 4.x, which can support LSTM. Any ideas on how i can get that?

[2020-08-10 14:24] avanloo01 opened #58 "Implementing the library"
I can't figure out where to put the lines from [your tutorial](https://shamsutdinov.net/2015/07/01/tesseract-orc-xamarin-part-1/). I also followed [this](https://thatcsharpguy.com/posts/tesseract-ocr-in-xamarin-en/), but when I run the app, I get the error: Android.OS.FileUriExposedException

Can anyone help?

[2020-09-07 10:35] halkar commented on #58
Can you provide a sample project to reproduce the problem?

[2021-04-28 11:18] FreemanJohny commented on #53
Any updates of nugets for Xamarin?

[2021-07-15 21:44] SaqibS commented on #53
+1 Thanks for putting this NuGet together. Would love to have a newer version available >=4.0.

[2021-10-12 06:03] Dybreak0 commented on #57
![Screenshot_20211012-001636](https://user-images.githubusercontent.com/72906533/136900205-ac486215-52e9-46b4-9138-4786ba52b5e5.png)

@halkar  Please take a look at this screenshot. I think we have the same problem.

My target framework is .net standard 2, and I have a warning message that says,

Package 'Xamarin.Tesseract 0.3.4' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Vers

[2021-10-20 23:29] ez2useApp commented on #57
Hold your camera horizantal(Landscape) and then take picture

[2021-10-20 23:30] ez2useApp commented on #57
Hold your camera horizantal(Landscape) and then take picture

[2022-03-15 16:41] DanielSzenczi commented on #57
@halkar @Dybreak0 Any update on this? I am getting the same behavior.
Taking images in landscape or portrait mode does not improve the recognition capabilities. (at least not in my case)
Thanks :)

[2022-05-31 20:48] szhengresponsetek commented on #55
I use Xamarin.Tessereact 0.3.4 for Xamrin.forms solution. I got same issue as Malikirfan has
Is this problem solved and new version for that?